@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.createListingContainer {
  display: flex;
  height: 80%;
  width: 100%;
}

.leftContainer {
  width: 80%;
  height: 100%;
  background-color: rgb(255, 255, 255); 
}

.rightContainer {
  width: 20%;
  height: 100%;

  background-color: rgb(223, 223, 223); 
}

.progressBar {
    background-color: darkgreen;  
}

.inputboxGeneral {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    background: white;

}

.selectGeneral {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    background: white;
}

.inputs {
    width: 50%;
    float: right;
    margin-top: 10%;
    padding-right: 10%;
}

.navigationButtons {

}