.container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
}

.listing {
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin-bottom: 20px;
}

.header {
  background-color: #25a55a;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-btn {
  background-color: white;
  color: #FF5A5F;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.listings-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; /* This adds spacing between each card */
}

